<form class="d-flex flex-column align-items-start mt-5" action="/records/category" method="GET">
  <div class="dropdown d-grid gap-2 col-6">
    <button class="btn btn-outline-secondary dropdown-toggle btn-lg" type="button" data-bs-toggle="dropdown"
      aria-expanded="false">
      類別
    </button>
    <ul class="dropdown-menu">
      <li><button class="dropdown-item" type="submit" style="color: blue" name="categoryId" value="1">家居物業</button></li>
      <li><button class="dropdown-item" type="submit" style="color: blue" name="categoryId" value="2">交通出行</button></li>
      <li><button class="dropdown-item" type="submit" style="color: blue" name="categoryId" value="3">休閒娛樂</button></li>
      <li><button class="dropdown-item" type="submit" style="color: blue" name="categoryId" value="4">餐飲食品</button></li>
      <li><button class="dropdown-item" type="submit" style="color: blue" name="categoryId" value="5">其他</button></li>
    </ul>
  </div>
</form>

<h2 class="mt-5 d-grid col-6">
  <p>總金額:</p>
  <b class='d-flex justify-content-center' style="color: red; font-size: 75px">
    {{ totalAmount }}元
  </b>
</h2>

<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">

      <div class="col-auto me-auto">
        <h4 style="display: inline; vertical-align: middle;">
          {{this.name}}
          {{this.date}}
          {{this.amount}}
        </h4>
      </div>

      <div class="col-auto">
        <a class="btn btn-secondary" href="/records/{{ this._id }}/edit">修改</a>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline">
          <button class="btn btn-danger" type="submit">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>

<div class="btn-container d-flex justify-content-center mt-3">
  <a class="btn btn-success" href="/records/new">新增支出</a>
</div>