

<h2>總金額: {{ totalAmount }}元</h2>

<ul class="list-group">
  {{#each records}}
  <li class="list-group-item">
    <div class="row">

      <div class="col-auto me-auto">
        <h4 style="display: inline; vertical-align: middle;">
          {{this.name}}
          {{this.date}}
          {{this.amount}}
        </h4>
      </div>

      <div class="col-auto">
        <a class="btn btn-secondary" href="/records/{{ this._id }}/edit">修改</a>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline">
          <button class="btn btn-danger" type="submit">刪除</button>
        </form>
      </div>
    </div>
  </li>
  {{/each}}
</ul>

<div class="btn-container d-flex justify-content-center mt-3">
  <a class="btn btn-success" href="/records/new">新增支出</a>
</div>
